@using Business_Logic
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav" style="text-align: right; padding-right: 10px;
                padding-top: 10px">
            <li class="sidebar-brand">
                <a id="menu-toggle" href="#">
                    <span id="main_icon" class="navbar-icon fa fa-bars icon">
                    </span>
                </a>
            </li>
        </ul>
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Buses Schedule</a></li>
            <li>@Html.ActionLink(@DictExpressionBuilderSystem.Translate("menu.Buses"), "Buses", "Home")</li>
            <li>@Html.ActionLink(@DictExpressionBuilderSystem.Translate("menu.Lines"), "Lines", "Home")</li>
            <li>@Html.ActionLink(@DictExpressionBuilderSystem.Translate("menu.BusesToLines"), "BusesToLines", "Home")</li>
            <li>@Html.ActionLink(@DictExpressionBuilderSystem.Translate("menu.Calendar"), "Calendar", "Home")</li>
            <li>@Html.ActionLink(@DictExpressionBuilderSystem.Translate("menu.Schedule"), "Schedule", "Home")</li>
        </ul>
    </div>
</div>

<script>
        $(function () {
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("active");
            });
        });
</script>