@using System.Web.Optimization
@using Business_Logic

<br />
<div class="header">
    <hr class="hr-thin" />
    <h4>Buses</h4>
    <div class="glyphicon glyphicon-chevron-up toggle" id="btToggleBuses"></div>
    <hr class="hr-thin" />
</div>
<div class="content" id="dBusesTable">
    <table id="grBuses"></table>
    <div id="pgBuses"></div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqGrid")
    <script>
        var printWindow = null;
        $(function() {
            //Toggle buttons
            $("#btToggleBuses").click(function() {
                var cls = $("#btToggleBuses").attr("class");
                if (cls == "glyphicon glyphicon-chevron-up toggle") {
                    $("#btToggleBuses").attr("class", "glyphicon glyphicon-chevron-down toggle");
                } else {
                    $("#btToggleBuses").attr("class", "glyphicon glyphicon-chevron-up toggle");
                }
                $("#dBusesTable").toggle();
            });

            $("#grBuses").jqGrid({
                    url: '/api' + '@Url.Action("GetBuses", "Buses")',
                    datatype: "json",
                    loadonce: false,
                    height: "100%",
                    autowidth: true,
                    regional: "il",
                    hidegrid: false,
                    multiselect: false,
                    pager: "#pgBuses",
                    mtype: "get",
                    rowNum: 25,
                    rowList: [5, 25, 50, 100],
                    viewrecords: true,
                    ignoreCase: true,
                    loadui: "disable",
                    altRows: false,
                    sortable: true,
                    altclass: "ui-state-default",
                    editurl: '/api' + '@Url.Action("EditBus", "Buses")',
                    sortname: 'BusId',
                    sortorder: "asc",
                    colNames: ["Id", "BusId", "PlateNumber", "OwnerDescription", "Owner", "seats", "price", "munifacturedate", "LicensingDueDate", "insuranceDueDate", "winterLicenseDueDate", "brakeTesDueDate", ""],
                    colModel: [
                        { name: "Id", index: 'Id', key: true, hidden: true, sortable: false, editable: false, edittype: "text", search: false },
                        { name: 'BusId', index: 'BusId', sorttype: "text", width: 90, editable: true },
                        { name: 'PlateNumber', index: 'PlateNumber', sorttype: "text", width: 110, editable: true },
                        { name: 'OwnerDescription', index: 'OwnerDescription', hidden: true, sortable: false, editable: false, edittype: "text", search: false },
                        {
                            name: 'Owner',
                            index: 'Owner',
                            sorttype: "text",
                            search: false,
                            editable: true,
                            edittype: "select",
                            editoptions: {
                                dataUrl: '/api' + '@Url.Action("GetBusCompanies", "Buses")',
                                //postData: function (rowid, value, cmName) {
                                //    return {
                                //        id: rowid
                                //    }
                                //},
                                buildSelect: function(data) {
                                    var response = jQuery.parseJSON(data);
                                    var s = '<select>';
                                    if (response && response.Data.length) {
                                        for (var i = 0, l = response.Data.length; i < l; i++) {
                                            var ri = response.Data[i];
                                            s += '<option value="' + ri.Value + '" title="' + ri.Title + '">' + ri.Text + '</option>';
                                        }
                                    }
                                    return s + "</select>";
                                },
                            },
                        },
                        { name: 'seats', index: 'seats', sorttype: "text", width: 60, editable: true, search: false, formatter: 'integer', sorttype: "int" },
                        { name: 'price', index: 'price', sorttype: "text", width: 80, editable: true, search: false, formatter: 'number', sorttype: "float" },
                        { name: 'munifacturedate', index: 'munifacturedate', width: 80, align: 'left', sortable: true, formatter: 'text', formatoptions: { srcformat: 'ISO8601Long', newformat: 'm/d/Y', defaultValue: null }, editable: true, edittype: 'text', editoptions: { size: 12, maxlengh: 12, dataInit: function(element) { $(element).datepicker({ dateFormat: 'mm/dd/yy' }); } }, editrules: { date: false }, search: false },
                        { name: 'LicensingDueDate', index: 'LicensingDueDate', width: 80, align: 'left', sortable: true, formatter: 'text', formatoptions: { srcformat: 'ISO8601Long', newformat: 'm/d/Y', defaultValue: null }, editable: true, edittype: 'text', editoptions: { size: 12, maxlengh: 12, dataInit: function (element) { $(element).datepicker({ dateFormat: 'mm/dd/yy' }); } }, editrules: { date: false }, search: false },
                        { name: 'insuranceDueDate', index: 'insuranceDueDate', width: 80, align: 'left', sortable: true, formatter: 'text', formatoptions: { srcformat: 'ISO8601Long', newformat: 'm/d/Y', defaultValue: null }, editable: true, edittype: 'text', editoptions: { size: 12, maxlengh: 12, dataInit: function (element) { $(element).datepicker({ dateFormat: 'mm/dd/yy' }); } }, editrules: { date: false }, search: false },
                        { name: 'winterLicenseDueDate', index: 'winterLicenseDueDate', width: 80, align: 'left', sortable: true, formatter: 'text', formatoptions: { srcformat: 'ISO8601Long', newformat: 'm/d/Y', defaultValue: null }, editable: true, edittype: 'text', editoptions: { size: 12, maxlengh: 12, dataInit: function (element) { $(element).datepicker({ dateFormat: 'mm/dd/yy' }); } }, editrules: { date: false }, search: false },
                        { name: 'brakeTesDueDate', index: 'brakeTesDueDate', width: 80, align: 'left', sortable: true, formatter: 'text', formatoptions: { srcformat: 'ISO8601Long', newformat: 'm/d/Y', defaultValue: null }, editable: true, edittype: 'text', editoptions: { size: 12, maxlengh: 12, dataInit: function (element) { $(element).datepicker({ dateFormat: 'mm/dd/yy' }); } }, editrules: { date: false }, search: false },
                        {
                            name: 'ActionsBtn', index: 'ActionsBtn', width: 50, align: 'center', search: false, formatter: 'actions', formatoptions: {
                                keys: true,
                                editformbutton: false,
                                editbutton: true,
                                delbutton: true
                            }
                        },
                    ],
                    saveAfterSelect: true,
                    //addedrow: "last",
                    //cellEdit: true,
                    //beforeSelectRow: function (rowid) { return false; },
                    onSelectRow: function (id) {
                        lastSelection = -1;
                    },
                    ondblClickRow: function(rowid, iRow, iCol) {
                        editRow(rowid);
                        //$("#grBuses").editCell(iRow, iCol, true);
                    },
                    loadComplete: function (data) {
                        $("div.ui-inline-edit").attr("title","@DictExpressionBuilderSystem.Translate("grid.EditSelectedRow")");
                        $("div.ui-inline-del").attr("title", "@DictExpressionBuilderSystem.Translate("grid.DeleteSelectedRow")");
                        $("div.ui-inline-save").attr("title", "@DictExpressionBuilderSystem.Translate("grid.SaveRow")");
                        $("div.ui-inline-cancel").attr("title", "@DictExpressionBuilderSystem.Translate("grid.CancelRowEditing")");

                        var grid = $("#grBuses");
                        var colModel = grid.getGridParam('colModel');
                        $.each(colModel, function (index, col) {
                            if (col.edittype === 'select') {
                                $.each(grid.getDataIDs(), function (index, id) {
                                    var row = grid.getRowData(id);
                                    var value = row[col.name];
                                    var text = row[col.name+"Description"];
                                    row[col.name] = text;
                                    grid.setRowData(id, row);
                                });
                            }
                        });
                    }
                })
                .navGrid('#pgBuses', {
                        edit: false,
                        add: false,
                        del: false,
                        deltitle: "@DictExpressionBuilderSystem.Translate("grid.DeleteRow")", //"Delete row",
                        refresh: true,
                        refreshtitle: "@DictExpressionBuilderSystem.Translate("grid.Reload")", //"Reload",
                        search: false,
                        view: false
                    } /*, {}, { closeAfterEdit: true }, { closeAfterAdd: true }*/
                )
                .inlineNav('#pgBuses', {
                        add: true,
                        edit: false,
                        //editParams: { position: "last" },
                        //addParams: { position: "last" },
                        addtitle: "@DictExpressionBuilderSystem.Translate("grid.AddNewRow")", //"Add new row",
                        edittitle: "@DictExpressionBuilderSystem.Translate("grid.EditSelectedRow")", //"Edit selected row",
                        savetitle: "@DictExpressionBuilderSystem.Translate("grid.SaveRow")", //"Save row",
                        canceltitle: "@DictExpressionBuilderSystem.Translate("grid.CancelRowEditing")" //"Cancel row editing"
                    }
                )
                .navButtonAdd("#pgBuses", {
                        id: "print",
                        buttonicon: "ui-icon-print",
                        caption: "",
                        title: "@DictExpressionBuilderSystem.Translate("grid.Print")", //"Print"
                        onClickButton: function() {
                            var postData = $("#grBuses").jqGrid('getGridParam', 'postData');
                            var urlGetExcel = '/api' + "@Url.Action("GetPrint", "Buses")";
                            var url = urlGetExcel + "?" + $.param(postData);
                            if (printWindow == null || printWindow.closed) {
                                printWindow = window.open('', '', 'height=600,width=1000');
                            } else {
                                printWindow.focus();
                            }
                            $.ajax({
                                url: url,
                                type: 'GET',
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                success: function(data) {
                                    if (printWindow != undefined) {
                                        printWindow.document.clear();
                                        printWindow.document.write('<html><head><title>Buses</title>');
                                        printWindow.document.write('</head><body >');
                                        printWindow.document.write('<div class="page">');
                                        printWindow.document.write('<div class="subpage">');

                                        //TODO Draw Buses Table
                                        printWindow.document.write('test');
                                        printWindow.document.write(data);

                                        printWindow.document.write('</div>');
                                        printWindow.document.write('</div>');
                                        printWindow.document.write('</body></html>');
                                        printWindow.document.close();
                                        printWindow.print();
                                    }
                                }
                            });

                        }
                    }
                )
                .navButtonAdd("#pgBuses", {
                        id: "toExcel",
                        buttonicon: "ui-icon-disk",
                        caption: "",
                        title: "@DictExpressionBuilderSystem.Translate("grid.ToExcel")", //"To Excel"
                        onClickButton: function() {
                            var postData = $("#grBuses").jqGrid('getGridParam', 'postData');
                            var urlGetExcel = '/api' + "@Url.Action("GetExcel", "Buses")";
                            var url = urlGetExcel + "?" + $.param(postData);
                            window.location.href = url;
                        }
                    }
                )
                .filterToolbar({
                        stringResult: true,
                        enableClear: false
                    }
                );

            //Hide buttons "Clear search"
            $(".ui-search-clear").remove();


            @*<div style="margin-left: 8px;">
                <div title="Edit selected row" style="float: left; cursor: pointer; display: none;" class="ui-pg-div ui-inline-edit" id="jEditButton_1" onclick="jQuery.fn.fmatter.rowactions.call(this, 'edit');" onmouseover="jQuery(this).addClass('ui-state-hover');" onmouseout="jQuery(this).removeClass('ui-state-hover');"><span class="ui-icon ui-icon-pencil"></span></div>
                <div title="Delete selected row" style="float: left; display: none;" class="ui-pg-div ui-inline-del" id="jDeleteButton_1" onclick="jQuery.fn.fmatter.rowactions.call(this, 'del');" onmouseover="jQuery(this).addClass('ui-state-hover');" onmouseout="jQuery(this).removeClass('ui-state-hover');"><span class="ui-icon ui-icon-trash"></span></div>
                <div title="Save row" style="float: left;" class="ui-pg-div ui-inline-save" id="jSaveButton_1" onclick="jQuery.fn.fmatter.rowactions.call(this, 'save');" onmouseover="jQuery(this).addClass('ui-state-hover');" onmouseout="jQuery(this).removeClass('ui-state-hover');"><span class="ui-icon ui-icon-disk"></span></div>
                <div title="Cancel row editing" style="float: left;" class="ui-pg-div ui-inline-cancel" id="jCancelButton_1" onclick="jQuery.fn.fmatter.rowactions.call(this, 'cancel');" onmouseover="jQuery(this).addClass('ui-state-hover');" onmouseout="jQuery(this).removeClass('ui-state-hover');"><span class="ui-icon ui-icon-cancel"></span></div>
            </div>*@

            var lastSelection;

            function editRow(id) {
                if (id && id !== lastSelection) {
                    var grid = $("#grBuses");
                    grid.jqGrid('restoreRow', lastSelection);
                    //grid.jqGrid('editRow', id, { keys: true });
                    jQuery.fn.fmatter.rowactions.call($("#grBuses tbody").find("#" + id + " div.ui-inline-edit"), 'edit');
                    lastSelection = id;
                }
            }
        });
    </script>
}