<!DOCTYPE html>
@{
    Layout = "";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Module</title>
    @Styles.Render("~/bundles/MessagesModule")
    <link href="~/Content/AwaitLayer.css" rel="stylesheet" />
    <link href="~/Content/CodeArea.css" rel="stylesheet" />
    @*/*Angular Animations*/*@
    <style>
        .ngan-fade-slw.ng-enter, 
        .ngan-fade-slw.ng-leave {
          transition: all 1.5s;
        }

        .ngan-hold-pos.ng-enter,
        .ngan-hold-pos.ng-leave.ng-leave-active {
            position:absolute
        }

        .ngan-hold-pos.ng-leave,
        .ngan-hold-pos.ng-enter.ng-enter-active {
            position:initial;
            z-index:3000;
        }

        .ngan-fade-mid.ng-enter, 
        .ngan-fade-mid.ng-leave {
          transition: all 0.7s;
        }

        .ngan-fade-fst.ng-enter, 
        .ngan-fade-fst.ng-leave {
          transition: all 0.3s;
        }

        .ngan-fade-fst.ng-enter,
        .ngan-fade-fst.ng-leave.ng-leave-active,
        .ngan-fade-slw.ng-enter,
        .ngan-fade-slw.ng-leave.ng-leave-active,
        .ngan-fade-mid.ng-enter,
        .ngan-fade-mid.ng-leave.ng-leave-active {
          opacity:0;
        }
   
        .ngan-fade-fst.ng-leave,
        .ngan-fade-fst.ng-enter.ng-enter-active, 
        .ngan-fade-slw.ng-leave,
        .ngan-fade-slw.ng-enter.ng-enter-active,
        .ngan-fade-mid.ng-leave,
        .ngan-fade-mid.ng-enter.ng-enter-active {
          opacity:1;
        }

        .foldable{
            transition: transform ease 1s,height ease 1s;
            -webkit-transform-origin: top;
            height: 100%;
            transform-style: preserve-3d;
            transform-origin: top;
        }

        .foldable.ng-leave,
        .foldable.ng-enter.ng-enter-active
        {
            -webkit-transform: rotateX(0deg);
            transform:rotateX(0deg);
            height: 100%
        }
        .foldable.ng-enter,
        .foldable.ng-leave.ng-leave-active
        {
            -webkit-transform: rotateX(-90deg);
            transform:rotateX(-90deg);
            height: 1px
        }

    /*    foldable  -webkit-transform: rotateX(90deg);
    transition: all ease 1s; */
    </style>
    
    @*/*NOTIFICATION*/*@
    <style>
        .notification{
            min-height: 50px;
            /*border: 1px solid;*/
            /*border-color: rgba(0, 0, 0, 0.1);*/
            z-index: 10000;
            /* margin-top: 20px; */
            margin-bottom: 20px;
            cursor: pointer;
            box-shadow: 0 7px 10px 0 rgba(0,0,0,0.15), 0 0 10px 0 rgba(0,0,0,0.1);
        }
        .notification.notification-info .notification-glyphicon{
            
        }
        .notification.notification-error .notification-glyphicon{
            color: orangered
        }
        .notification.notification-alert .notification-glyphicon{
            color: yellow
        }
        .notification.notification-info{
            background-color: #272727;
            opacity: 0.95;
        }
        .notification.notification-error{
            background-color: #272727;
            opacity: 0.95;
        }
        .notification.notification-alert{
            background-color: #272727;
            opacity: 0.95;  
        }
        .notification-text {
            padding: 10px 20px;
            font-size: 14px;
        }
        .notification-text .notification-header{
            font-size: 17px;
        }
        .notification-container{
            position: fixed;
            left: 0;
            top: 50px;
            z-index: 10000;
        }
        @@media (max-width: 768px) {
            .notification{
                width: 80vw;
                margin-left:10vw;
                margin-right:10vw;
            }   
        }
        @@media (min-width: 768px) {
            .notification{
                width: 25vw;
                margin-left:1vw;
                /*margin-right:5vw;*/
            } 
        }
    </style>

    @* Page Styles *@
    <style>
        body {
            margin: 0;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            color: #c7c7c7;
            background: #222222
        }

        ::-webkit-scrollbar
        {
          width: 6px;  /* for vertical scrollbars */
          height: 6px; /* for horizontal scrollbars */
        }

        ::-webkit-scrollbar-track
        {
          background: rgba(0, 0, 0, 0.1);
        }

        ::-webkit-scrollbar-thumb
        {
          background: rgba(0, 0, 0, 0.2);
        }

        .clearfix:before,
        .clearfix:after {
            content: '\0020';
            display: block;
            overflow: hidden;
            visibility: hidden;
            width: 0;
            height: 0;
        }

        .clearfix:after {
            clear: both;
        }

        .clearfix {
            zoom: 1;
        }

        .rotable {
            transition: all ease 0.5s
        }

        .rotable.turn90{
            transform: rotate(90deg)
        }

/*LAYOUT-PADDINGS*/
        .no-padding{
            padding:0
        }
        .padd-hor-t{
            padding-left:2px;
            padding-right:2px
        }
/*LAYOUT*/

        .main-block {
            padding: 20px;
            padding-left: 70px;
        }

        .main-block:first-of-type {
            padding-left: 40px;
        }

        .sub-block{
            padding: 10px;
        }

        .float-right {
            float: right;
        }

        .main-block.bot-bord{
            border-bottom: 1px solid #333333
        }

        .bot-bord{
            border-bottom: 1px solid #333333
        }

        .top-bord{
            border-top: 1px solid #333333
        }

        .main-block.unfolded {
            padding-bottom:0px;
        }

        .main-block > .unfold-block {
            margin-left:7px;
            padding: 10px;
            padding-left: 18px;
            border-left: 1px solid #333333;
            padding-bottom:20px;
        }

        .unfold-block{ 
          transition: all ease 0.7s;
          overflow: hidden;
        }

        .unfold-block.ng-enter,
        .unfold-block.ng-leave.ng-leave-active
        {
            padding-bottom:0px;
            padding-top:0px;
            height: 0px;
        }

        .unfold-block.ng-leave,
        .unfold-block.ng-enter.ng-enter-active
        {
            padding-bottom:20px;
            padding-top:10px;
            height: 400px;
        }

        .unfold-block:not(.ng-leave):not(.ng-enter){
            min-height:400px;
        }



        .editor-container > * ,
        .editor-container .ineditor{
            padding: 7px 0
        }

        .editor-container .item-row{
            padding-bottom: 0;
        }

        .item-row{
            padding-left: 10px;
            padding-right: 10px;
            border-left: 1px solid #333333;
        }

        .item-row > *:not(:first-child){
            /*background-color:rebeccapurple*/
            padding-left:20px
        }

        .enum-container > * {
            padding: 3px 0
        }

        .unfold-block-mini {
            margin-left:7px;
            padding: 10px;
            /*padding-left: 18px;*/
            border-left: 1px solid #333333;
        }

        .bounded-block-m{
            max-height: 470px;
            overflow-x: auto;
        }
        .bounded-block-b{
            max-height: 570px;
            overflow-x: auto;
        }

/*TEXT*/

        .txt-s-huge {
            font-size: 28px;
        }
        .txt-s-big {
            font-size: 20px;
        }
        .txt-s-med {
            font-size: 18px;
        }

        .txt-s-small {
            font-size: 11px;
        }

        .txt-c-base{
            color: #c7c7c7
        }
        .txt-c-gr{
            color: #878787
        }
        .txt-c-grmore{
            color: #676767
        }
        .txt-c-blue {
            color: #428bca
        }
        .txt-c-red {
            color: #c20c0c
        }
        .txt-c-green {
            color: #3a823b
        }



        .txt-accent{
            text-decoration:underline
        }
        .txt-c-gr.txt-accent{
            color: #c7c7c7;
        }
        .txt-anim{
            transition: all ease 0.7s
        }
/*INPUTS*/
        .txtinput {
            background: inherit;
            border: none;
            /*border-bottom: 1px solid #878787;*/
            border-bottom: 1px solid rgba(135, 135, 135, 0.00);
            color: #c7c7c7;
            padding: 0;
            transition: all ease 0.7s;
            line-height: 1;
        }

        .txtinput-big {
            background: inherit;
            border: none;
            border-bottom: 1px solid rgba(135, 135, 135, 0.00);
            color: #c7c7c7;
            padding: 0;
            transition: all ease 0.7s;
            line-height: 1;
        }

        .txtarea:focus,
        .txtinput:focus,
        .txtinput-big:focus
        {
            outline:none
        }

        .txtinput-big:focus,
        .txtinput:focus{
            border-bottom: 1px solid #c7c7c7;
            color: white
        }

        .txtarea:focus {
            background-color: white;
        }

        .txtarea {
            background-color: #d3d3d3;
            border-radius: 5px;
            border: none;
            transition: background-color ease 0.7s;
            padding: 10px
        }

        .selector{
            background: #222222;
            border: none;
            color: #c7c7c7;
        }
        .filter-expr .selector{
            width: 12%
        }
        .filter-expr .txtinput{
            width: 40%

        }
        .filter-expr.first .txtinput {
            width: 42.2%;
        }

        .filter-row .filter-expr{
            padding-left: 20px;
        }
        .filter-row .filter-expr.first{
            padding-left: 40px;
        }

        .filter-row hr,
        .filter-row hr.lite
        {
            margin-bottom: 0
        }

        input[type="checkbox"].checkbox{
            margin: 0;
            display: inline-block
        }
/*CLICKABLE*/
        .clickable:hover{
            cursor:pointer
        }
        .asimple {
            color: inherit
        }
        .asimple:focus, .asimple:hover, .asimple:visited{
            color: inherit;
        }
        .asimple:focus, .asimple:hover, .asimple:visited,
        .iconclick:focus, .iconclick:hover, .iconclick:visited
        {
            text-decoration:none;
        }

        .iconclick{
            transition: all ease 0.5s;
        }

        .iconclick:not(.txt-c-gr):not(.txt-c-grmore):not(.txt-c-blue):not(.txt-c-green)
        {
            color: inherit;
        }

        .iconclick:not(.txt-c-gr):not(.txt-c-grmore):not(.txt-c-blue):not(.txt-c-green):hover,
        .iconclick:hover{
            cursor:pointer;
            color:#c7c7c7    
        }

        .abut {
            color: #878787;
            border: 1px solid #484848;
            padding: 7px 20px;
            transition: all ease 0.7s;
        }
        .abut:hover, .abut:focus{
            text-decoration: none
        }
        .abut:hover{
            cursor:pointer;
            color: #c7c7c7;
            border: 1px solid #6d6d6d;
        }

/*HIGHLIGHT*/
        .txt-c-gr.hover-highlight:hover{
            color: #c7c7c7;
        }
        .txt-c-grmore.hover-highlight:hover{
            color: #c7c7c7;
        }
        .txt-c-green.hover-highlight:hover{
            color: #c7c7c7;
        }
        .txt-c-blue.hover-highlight:hover{
            color: #c7c7c7;
        }

/*OTHER*/
        .controlbox{
            padding: 10px;
            width:100%;
            border: 1px solid;
            margin-bottom: 5px;
            display: inline-block;
            text-align: center;
            border-color: #2f2f2f;
            color: #424242;
            transition: all ease 0.7s;
        }

        .hover-closer{
            transform-style: preserve-3d;
            transition: all ease 0.7s;
        }

        .hover-closer:hover{
            color: #585858;
            border-color: #3e3e3e;
            -webkit-transform: /*rotateY(2deg)*/ rotateX(10deg);
            transform: /*rotateY(2deg)*/ rotateX(10deg);
            box-shadow: 0 20px 20px rgba(0,0,0,0.07);
        }

        .controlbox.drag-over{
            color: #c7c7c7;
            border-color: #525252;
        }

        .item-row.invalid{
            border-left: 1px solid red;
        }

        hr.lite{
            margin: 10px 0;
            border-color: #333333;
        }

        .perspective-cont{
            perspective: 1000px
        }

        .recepientkey.drag-over{
            color: white
        }

        .reset-pre{
            display: block; 
            padding: 0;
            margin: 0;
            font-size: inherit; 
            font-family: inherit;
            line-height: 1.428571429; 
            color: inherit;
            word-break: inherit;
            word-wrap: inherit; 
            background-color: inherit; 
            border: none;
            border-radius: 0;

        }

        .sched-mini{
            border: 1px solid #464646;
            padding: 10px;
            margin: 5px;
        }

        .settings-window{
            position:fixed;
            top:10%;
            left:10%;
            width:80%;
            height:80%;
            background: #222222;
            border: 1px solid #878787;
            padding: 30px;
            z-index:5;
        }

    </style>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,300i,400,400i,700" rel="stylesheet">
</head>
<body>
    <div ng-app="App" ng-cloak>

        <!--HoveringNotifications Controller-->
        <div ng-controller="NotificationController" data-ng-init="init()">
            <div class="notification-container">
                <div class="ngan-fade-mid" ng-repeat="msg in va.Messages | orderBy: '+created'">
                    <div ng-click="CloseMsg(msg)" class="notification notification-{{msg.type.nclass}} move-near">
                        <div class="notification-text">
                            <div>
                                <span class="notification-glyphicon glyphicon glyphicon-{{msg.type.glicon}}"></span>
                                <span class="notification-header">
                                    {{msg.header}}
                                </span>
                            </div>
                            <div>
                                <pre class="reset-pre">{{msg.body}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Page blocks Controller-->
        <div ng-controller="MessageModulePageController" data-ng-init="init()">
            <!--Await-Layer-->
            <div class="await-layer" ng-if="holdview">
                <div class="floatingBarsIndicator">
                    <div class="blockG" id="rotateG_01"></div>
                    <div class="blockG" id="rotateG_02"></div>
                    <div class="blockG" id="rotateG_03"></div>
                    <div class="blockG" id="rotateG_04"></div>
                    <div class="blockG" id="rotateG_05"></div>
                    <div class="blockG" id="rotateG_06"></div>
                    <div class="blockG" id="rotateG_07"></div>
                    <div class="blockG" id="rotateG_08"></div>
                </div>
            </div>

            <!--Everything Under Await-Layer-->
            <div class="main-layer" ng-class="{'blured':holdview}">

                <!--Page Header-->
                <div class="main-block" style="background: #333333">
                    <div class="txt-s-huge">
                        <i style="padding:0 10px" 
                           class="glyphicon glyphicon-cog iconclick" 
                           ng-click="va.showSettings=!va.showSettings">
                        </i> Mailing Module
                    </div>
                </div>
                
                <!--Page Body-->

                <!-- Settings Window -->
                <div class="settings-window ngan-fade-mid txt-c-grmore" ng-if="va.showSettings">
                    <div class="txt-s-huge txt-c-base">
                        Settings
                    </div>
                    <div class="txt-s-med txt-c-gr bot-bord">
                        Mail service
                    </div>
                    <div>sender adress</div>
                    <div>port...</div>
                    <div class="txt-s-med txt-c-gr bot-bord">
                        Sms service
                    </div>
                    <div>sender adress</div>
                    <div>...</div>
                </div>

                <!-- Stored Filters -->
                <div class="main-block bot-bord" ng-class="{'unfolded': !va.filters_folded}">
                    <span class="txt-s-big">
                        <a class="asimple" ng-click="va.filters_folded=!va.filters_folded">
                            <i ng-class="{'turn90': !va.filters_folded}" class="rotable glyphicon glyphicon-play"></i>
                        </a>
                        Stored Filters
                    </span>

                    <div class="unfold-block" ng-if="!va.filters_folded">
                        @Html.Partial("_ngMFilters")
                    </div>

                </div>

                <!-- Templates -->
                <div class="main-block bot-bord" ng-class="{'unfolded': !va.templates_folded}">
                    <span class="txt-s-big">
                        <a class="asimple" ng-click="va.templates_folded=!va.templates_folded">
                            <i ng-class="{'turn90': !va.templates_folded}" class="rotable glyphicon glyphicon-play"></i>
                        </a>
                        Templates
                    </span>

                    <div class="unfold-block" ng-if="!va.templates_folded">
                        @Html.Partial("_ngTemplates")
                    </div>

                </div>

                <!-- Send Part -->
                <div class="main-block bot-bord" ng-class="{'unfolded': !va.mails_folded}">
                    <span class="txt-s-big">
                        <a class="asimple" ng-click="va.mails_folded=!va.mails_folded">
                            <i ng-class="{'turn90': !va.mails_folded}" class="rotable glyphicon glyphicon-play"></i>
                        </a>
                        Sending
                    </span>
                    <div class="unfold-block" ng-if="!va.mails_folded">
                        @Html.Partial("_ngSchedules")
                    </div>
                </div>

            </div>

        </div>


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/AngularApp")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>


